html{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
label{
  font-size: 3vw;
  font-family: sakura;
  color: #94b0e9;
  text-shadow: 2px 2px black;
}
button{
  color: #e994d4;
}

@font-face {
  font-family: sakura;
  src: url("Sakura Blossom.ttf");
}

@font-face {
  font-family: song;
  src: url("song.ttf");
}
